<p class = "mx-auto" >Ask your coach anything:</p>

<form action="answer" data-turbo="false">
  <input class="form-control w-25 mb-2" type="text" name="answer">
  <input class="btn btn-outline-primary mx-auto" type="submit" value="Ask!">
</form>
